
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.ico{
    background-size: 2em;
    height: 2em;
    width: 2em;
    background: no-repeat;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.25em;
    box-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.75);
}












